

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body, html {
    min-height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}



.clear {
    clear: both;
}

.d-flex {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.d-flex-2 {
    display: flex;
    width: 50%;
    padding: 20px;
    gap: 60px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #d4d4d4;
}

.d-flex-2 > div > h4::before {
    content: '';
    width: 2px;
    height: 0px;
    background-color: rgba(78, 76, 76, 0.555);
    border-left: 2px solid #d4d4d4;
    position: relative;
    left: -40px;
    top: 10px;
}

.container-3 {
    margin-top: 2rem;
}

.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.container-2 {
    width: 95%;
    height:65vh;
    margin: 0 auto;
    display:grid;
    grid-template-areas: 
      'img-todo img-metade-1'
      'img-todo img-metade-2'
      ;
  }
  .text-align {
    width: 50%;
    text-align: left;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
    left: 35%;
    top: 50%;
    color: white;
  }

  .text-align > h3, .text-align-2 > h3, .text-align-3> h3 {
    margin: 10px 0;
    font-size: 30px;
  }

  .text-align-2 {
    width: 50%;
    text-align: end;
    position: relative;
    left: 42%;
    top: 44%;
    color: white;
  }

  .text-align-3 {
    width: 50%;
    text-align: start;
    position: relative;
    left: 7%;
    top: 44%;
    color: white;
  }
  
  .tranding-1 { grid-area: img-todo;  background-image: url(assets/trending-1.jpg); background-position: top center;}
  .tranding-2 { grid-area: img-metade-1;  background-image: url(assets/trending-2.jpg); background-position: top center;}
  .tranding-3 { grid-area: img-metade-2;  background-image: url(assets/trending-3.jpg); background-position: top center;}

.d-col {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.d-col-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.d-col-3 {
    display: none;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    position: absolute;

    z-index: 20;
}

.fixed {
    position: fixed;
    z-index: 20;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(160, 160, 160);
}

.menu-toggle{
    cursor: pointer;
    display: none;
}


.border-space {
    margin: 0 auto; 
}

.tranding {
    width: 100%;
    height: 670px;
    background-image: url(assets/trending-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: end;
    padding: 30% 4%;
}


.d-flex > img {
    margin: 10px;
}

.carrinho {
    display: flex;
    gap: 20px;
    align-items: center;
}

.carrinho > img {
    width: 100%;
    height: 30px;
    cursor: pointer;
}

nav.menu {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.menu > ul > a{
    color: #413c3c;
    margin: 0 20px;
}

.menu > ul > a:hover{
    color: rgb(140, 140, 240);
    
}

.text-main {
    background-image: url(assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding:10%;
    position: relative;
}

.text-main::after {
    content: '';
    display: block;
    width: 100%;
    height:100%;
    background-color: #156e28;
    position: absolute;
    left: 0;
    top: 0;

    opacity: 0.2;
}

.text-main > h1 {
    font-size: 40px;
    color: white;
    z-index: 3;
    position: relative;
}
.text-main  > p {
    width: 40%;
    margin-top: 20px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    z-index: 3;
    position: relative;
}

.text-main > button {
    border: none;
    padding: 10px 15px;
    color: #413c3c;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    z-index: 3;
    position: relative;
}

.center {
    margin:20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.center-2 {
    margin: 5rem auto;
    text-align: start;
    max-width: 100%;
    width: 950px;
    height: 300px;
    padding: 80px;
    border: 1px solid #d4d4d4;
    background-image: url(assets/nedwslater-banner.jpg);
    background-position: top center;
}

.center > h3 {
    font-size: 30px;
    margin: 10px;
}

.d-flex > input[type=button] {
   border: none;
   padding: 13px 25px;
   cursor: pointer;
   background-color: #d4d4d4;
   position: relative;
   left: -19%;
}

.d-flex > input[type=email] {
    border: none;
    padding: 13px 25px;
    background-color: #d4d4d4;
    width: 50%;
    outline: none;
}

.d-flex > input[type=email]::placeholder {
    border: none;
    padding: 13px 25px;
    background-color: #d4d4d4;
    width: 50%;
    outline: none;
}

/* --------------------------------- produtos-single -------------------------- */

.produtos {
    width: 70%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 100px 0;
}

.produtos-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: 2s all;
    height: 400px;
}

.produtos-single > img {
    width: 250px;
    height: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.produtos-single > p {
    margin: 20px;
}

/* ----------------------- princ-img ---------------------- */

.princ-product {
        display:grid;
        grid-template-columns: 32% 32% 32%;
        justify-content: center;
        gap: 10px;
        margin: 5px auto;
        padding-bottom: 5rem;
        position: relative;
        left: 50%;
        transform: translate(-50%);
}


.princ-single {
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    background-image: url(assets/featured-background.jpg);
}

.princ-single > h2 {
    font-size: 30px;
}

.princ-single > a {
    color: #413c3c;
    border-bottom: 2px solid #413c3c;
    width: 100px;
}

.princ-img {
    width: 30%;
    height: 100%;
    float: right;
  
    display: flex;
    left: 65%;
    top: 5%;
    position: absolute;
}

.princ-img > img {
    width: 90%;
    max-width: 100%;
    height: 90%;
    float: right;
}

/* -----------footer-------------- */


.d-col-4 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: start;
    padding: 0;
    gap: 10px;
}

.d-col-4 > img {
    width: 40%;
}

.d-col-4 > span {
    margin: 7px 0;

    color: white;
}

.d-col-4 > span:hover  {
    padding-left: 10px;
}
.d-col-4 > span:hover > a {
    color: rgb(140, 140, 240);
}

.d-col-4 > span > a {
    color: white;
}


.d-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    background-color: rgba(0, 0, 0, 0.842);
    justify-content: center;
    color: white;
    margin: 0 auto;
    padding: 40px 0;
}

.d-grid-2 {
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
}
.d-flex-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgba(105, 105, 105, 0.329);
    padding: 15px;
}

.hover-select:hover {
    display: block;
}

div.hover-select > button {
    display: none;
    padding: 10px 40px;
    border: none;
    color: white;
    background-color: rgb(41, 39, 39);
    cursor: pointer;
    border-radius: 2px;
    margin: 0 auto;
    transition: 2s;
}

div.produtos-single :hover button{
   display: block;
   transition: 2s;
}
div.produtos-single {
   transition: 2s;
}

div#meu-carrinho {
    display: none;
    flex-direction: column;
    height: auto;
    width: 400px;
    padding: 20px 30px;
    background-color: rgb(255, 253, 253);
    border-left:3px solid #00a82470;
    position: absolute;
    top: 3.75rem;
    right: 0;
    z-index: 99;
}

div#carrinho-pagina {
    position: relative;
}

.store  {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.store > p > strong {
    color: red; 
    cursor: pointer;
}
